<ion-view view-title="Pick a Date">
  <ion-content class="padding cover">

    <p class="calendar-title"> {{shiftDate}} </p>
    <p class="time-title"> {{startTime}} </p>
    <p class="time-title"> {{endTime}} </p>
    <p class="time-title"> {{shiftData.prize}} </p>

    <button class="button button-positive" ng-click="openDatePicker()">Edit Date</button>
    <button class="button button-positive" ng-click="openTimePicker1()">Edit Start Time</button>
    <button class="button button-positive" ng-click="openTimePicker2()">Edit End Time</button>
    <button class="button button-positive" ng-click="prizePicker()">Edit Prize</button><br /><br />
    <button class="button button-positive confirm" ng-click="postShift()">Confirm Shift</button>

  </ion-content>
</ion-view>