<ion-view view-title="Pick a Date">
  <ion-content class="padding cover">

    <p class="calendar-title"> Calendar </p>
    <button class="button button-positive" ng-click="openDatePicker()">Pick a Date</button>
    
    <p class="time-title"> Start Time </p>
    <button class="button button-positive" ng-click="openTimePicker1()">Start Shift Time</button>

    <p class="time-title"> End Time </p>
    <button class="button button-positive" ng-click="openTimePicker2()">End Shift Time</button>

    <p class="time-title"> Prize </p>
    <button class="button button-positive" ng-click="prizePicker()">Give a Prize</button>

    <p class="time-title"> Post </p>
    <button class="button button-positive" ng-click="postShift()">Confirm Shift</button>

  </ion-content>
</ion-view>