<ion-view view-title="Pick a Date">
  <ion-content class="padding cover">

    <p class="calendar-title"> Calendar </p>
    <button class="button button-positive" ng-click="openDatePicker()">Pick a Date</button>
    
    <p class="time-title"> Time </p>
    <button class="button button-positive" ng-click="openTimePicker()">Pick a Time</button>

    <p class="time-title"> Prize </p>
    <button class="button button-positive" ng-click="submitPrize()">Give a Prize</button>

  </ion-content>
</ion-view>