<ion-view view-title="Home">
  <ion-header-bar class="bar bar-stable bar-balanced">
    <h1 class="title">Shift Ninja</h1>
    <!-- <button class="button button-icon icon ion-navicon"></button> -->
  </ion-header-bar>
  <ion-content id="front-page">

  <div id="front-page-buttons">
  <button id="pickupshift" class="button button-large button-block button-positive">
    Pick Up Shift
  </button>

  <button id="covermyshift" class="button button-large button-block button-positive">
    Cover My Shift
  </button>
  </div>

  </ion-content>
</ion-view>
