<ion-view view-title="Profile">
  <ion-content class="padding">
  	<p class="profile-header"> Name </p>
  	<p class="profile-info">{{ profileData.name }}</p>
  	
  	<p class="profile-header"> Email </p>
  	<p class="profile-info">{{ profileData.email }}</p>
  	
  	<p class="profile-header"> Phone </p>
  	<p class="profile-info">{{ profileData.phone }}</p>
  	
   	<p class="profile-header"> Main Shop </p>
  	<p class="profile-info">{{ profileData.mainshop }}</p>


  	<button class="button button-positive" ng-click="openEditProfile()">Edit Profile</button>
  </ion-content>
</ion-view>